body {
    font-family: 'Dosis', sans-serif;
}

.container {
	width: 85%;
	margin: 25px auto;
}

.burgerblock {
	margin: 10px auto;
	padding: 20px 5px 20px 30px;
	background-color: #c8ffc6;
    border-radius: 15px;
    font-weight: bold;
}

.form-control {
	display: inline-block;
	width: 75%;
	margin-top: 10px;
}

button {
	display: inline-block;
}

.devourBtn{
    margin-left: 10px;
    background-color: #ffc6c6;
    border: none;
    color: black;
}

h1 {
	font-size: 50px;
}
